!!!
html
  head
    title Kenneth Wiley
    link(type='text/css', rel='stylesheet', href='./css/index.css')
    //-link(rel='icon', type='image/x-icon', href='./images/fav.gif')
  body
    #todo
      h1
        img(src='/images/logo.JPG')
      br
      .stripe
        .center
          .span4
            a(href='281-351-2665', target='_blank')
              #phone.link
                p 281-351-2665
            a(href='mailto:ken@destinyoil.com', target='_blank')
              #email.link
                p ken@destinyoil.com
          .span4
            h3 Corporate Address
            p P.O.  Box 130245
            p The Woodlands, Texas  77381 
      br
      .content
        p Effective April 1, 2010 Ken Wiley is no longer associated with Destiny Oil &amp; Gas, LLC. For matters pertaining to Destiny Oil &amp; Gas, LLC you may contact either Don Rollins, Jr. or Richard Carson at <a href="www.carsonrollins.com">Carson Rollins, LLC</a> 
        
