*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
tests/coverage_html/
tests/.coverage
build/
collected-static
local_settings.py
reform_genie/static
venv
staticfiles
Procfile.local
