doctype 5
html
  head
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.1, user-scalable=0;', name='viewport')
    -var title = title || "Ken Wiley Petroleum Geologist"
    title= title
    != css('client')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand(href='/') Home
          a.brand(href='/files') Files
    #main
      block content
      block extras
    != js('client')
