$blue = #343496;

@font-face
  font-family BankGothic
  src url('../fonts/BankGothicBT Medium.TTF')
  font-weight 500

@font-face
  font-family Menlo
  src url('../fonts/Menlo.ttc')
  font-weight 500


shadow(args...)
   -webkit-box-shadow args
   -moz-box-shadow args
   box-shadow args

radius(args...)
  -webkit-border-radius args
  -moz-border-radius args
  border-radius args

gradient(perc1, perc2, col1, col2)
  background col1
  background: -webkit-linear-gradient(180deg, col1, perc1, col2, perc2)
  background: -moz-linear-gradient(180deg, col1, perc1, col2, perc2)
  background: linear-gradient(180deg, col1 perc1, col2 perc2)

blue()
  //background $blue
  gradient(50%, 100%, col2:#2f2993,col1:#343496)
*
  margin 0px
  padding 0px
  border 0px
  text-decoration none
  font-family Menlo, "Helvetica", sans-serif

h1, h2, h3, h4, h5
  font-family BankGothic

html
  height 100%
html, body
  width 100%
  //height 100%
  background #fff
  background-image url('../img/bg.png')

header.navbar
  //background #fff
  shadow(0px, 2px, 10px #777)
  //border 5px solid #fff
  border-left none
  border-right none
  padding 0px
  margin 45px 0px 20px 0px
  height 0px
  padding-left 20px
  blue()
  radius(0px)
  nav.navbar
    //shadow(0px, 0px, 3px $blue)
    //background-image url('../img/bg.png')
    //gradient(80%, 100%, col2:#efefef, col1:#fff)
    padding 0px
    radius(0px)
    width 850px
    //padding-left 120px
    margin 5px auto
    .link
      height 94%
      width 130px
      text-align center
      border-bottom none
      border-top none
      margin 1% 10px
      padding 0px
      float left
      display inline-block
      *
        color #fff
      li
        width auto
        float left
    .link:last-child
      border-right none
      margin-right none
    .link.about
      margin-right -30px
    .logo
      margin-right 30px
      text-align left
      background #fff
      position relative
      top -45px
      width 240px
      margin-top 0px
      height 30px
      img
        margin 0px auto
        height 130px
        shadow(0px, 2px, 10px #999)
        width auto
        position absolute

@media (max-width: 850px)
  header.navbar
    position relative
    top 90px
    height auto
    nav.navbar
      width 100%
      .link
        display block
        width 120px
      .link.logo
        position absolute
        top -135px
        width 100%
        left 0px
        margin 0px
        padding 0px
        text-align center
        img
          width 240px
          margin 0 auto
          float none
          position static
  #content
    margin-top 120px!important
      
    

#content
  margin 80px auto

#todo
  margin 0px auto
  text-align center
  width 600px
  height auto
  min-height 100%
  img
    width 100%
  //padding 40px 100px
p
  font-size 11pt
a
  color #445  
a:hover
  text-decoration none
  color #666
.white-shadow
  radius 2px
  background-color #fff
  shadow 0px 0px 35px rgba(0,0,0,0.3)
.stripe
  background-image url("../img/oil-rig.png")
  background-repeat no-repeat
  background-position 100% -80px
  background-size auto 450px
  position relative
  left 0px
  padding 30px 0px
  .center
    width 721px
    margin 0 auto
@media (max-width:768px)
  .stripe
    background-position 50% 320px
    background-size 50% auto

.h320
  height 340px
  padding 20px 20px

#phone
  padding-top 15px
  padding-left 0px
  background-image url('../img/phone.svg')
#email
  background-image url('../img/email.svg')

h1
  color #333366
  font-variant small-caps

.navbar-about
  blue()
  radius 2px
  padding 0px
  a
    color #fff
  li
    .navbar-inner
      display block
      li
        margin 0px 20px
  li:not(.active)
    .navbar-inner
      display none

.bs-sidenav
  li
    border-bottom #aaa 1px dashed
  li:last-child
    border-bottom none
  li > a:hover
    background #f00!important

li.active
  //background #fff
  > a
    color #666
    font-weight 900
    font-variant small-caps

footer
  gradient 40%, 95%, #777, #666
  shadow 0px -5px 15px rgba(0,0,0,0.3)
  color #fff
  margin-top 40px
  padding-top 20px
  text-align center
  a
    color $blue
    text-shadow 0px 0px 5px #999
    font-weight 700
    font-family BankGothic
  a:hover
    color #fff
  p
    font-size 8px
    a
      font-size 10px
.blue
  color $blue
hr.blue
  border-color $blue
hr.dashed
  border-style dashed
