@font-face {
  font-family: BankGothic;
  src: url("../fonts/BankGothicBT Medium.TTF");
  font-weight: 500;
}
@font-face {
  font-family: Menlo;
  src: url("../fonts/Menlo.ttc");
  font-weight: 500;
}
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
  font-family: Menlo, "Helvetica", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: BankGothic;
}
html {
  height: 100%;
}
html,
body {
  width: 100%;
  background: #fff;
  background-image: url("../img/bg.png");
}
header.navbar {
  -webkit-box-shadow: 0px 2px 10px #777;
  -moz-box-shadow: 0px 2px 10px #777;
  box-shadow: 0px 2px 10px #777;
  border-left: none;
  border-right: none;
  padding: 0px;
  margin: 45px 0px 20px 0px;
  height: 0px;
  padding-left: 20px;
  background: #343496;
  background: -webkit-linear-gradient(180deg, #343496, 50%, #2f2993, 100%);
  background: -moz-linear-gradient(180deg, #343496, 50%, #2f2993, 100%);
  background: linear-gradient(180deg, #343496 50%, #2f2993 100%);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
header.navbar nav.navbar {
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 850px;
  margin: 5px auto;
}
header.navbar nav.navbar .link {
  height: 94%;
  width: 130px;
  text-align: center;
  border-bottom: none;
  border-top: none;
  margin: 1% 10px;
  padding: 0px;
  float: left;
  display: inline-block;
}
header.navbar nav.navbar .link * {
  color: #fff;
}
header.navbar nav.navbar .link li {
  width: auto;
  float: left;
}
header.navbar nav.navbar .link:last-child {
  border-right: none;
  margin-right: none;
}
header.navbar nav.navbar .link.about {
  margin-right: -30px;
}
header.navbar nav.navbar .logo {
  margin-right: 30px;
  text-align: left;
  background: #fff;
  position: relative;
  top: -45px;
  width: 240px;
  margin-top: 0px;
  height: 30px;
}
header.navbar nav.navbar .logo img {
  margin: 0px auto;
  height: 130px;
  -webkit-box-shadow: 0px 2px 10px #999;
  -moz-box-shadow: 0px 2px 10px #999;
  box-shadow: 0px 2px 10px #999;
  width: auto;
  position: absolute;
}
#content {
  margin: 80px auto;
}
#todo {
  margin: 0px auto;
  text-align: center;
  width: 600px;
  height: auto;
  min-height: 100%;
}
#todo img {
  width: 100%;
}
p {
  font-size: 11pt;
}
a {
  color: #445;
}
a:hover {
  text-decoration: none;
  color: #666;
}
.white-shadow {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 35px rgba(0,0,0,0.3);
}
.stripe {
  background-image: url("../img/oil-rig.png");
  background-repeat: no-repeat;
  background-position: 100% -80px;
  background-size: auto 450px;
  position: relative;
  left: 0px;
  padding: 30px 0px;
}
.stripe .center {
  width: 721px;
  margin: 0 auto;
}
@media (max-width:768px) {
  .stripe {
    background-position: 50% 320px;
    background-size: 50% auto;
  }
}
.h320 {
  height: 340px;
  padding: 20px 20px;
}
#phone {
  padding-top: 15px;
  padding-left: 0px;
  background-image: url("../img/phone.svg");
}
#email {
  background-image: url("../img/email.svg");
}
h1 {
  color: #336;
  font-variant: small-caps;
}
.navbar-about {
  background: #343496;
  background: -webkit-linear-gradient(180deg, #343496, 50%, #2f2993, 100%);
  background: -moz-linear-gradient(180deg, #343496, 50%, #2f2993, 100%);
  background: linear-gradient(180deg, #343496 50%, #2f2993 100%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0px;
}
.navbar-about a {
  color: #fff;
}
.navbar-about li .navbar-inner {
  display: block;
}
.navbar-about li .navbar-inner li {
  margin: 0px 20px;
}
.navbar-about li:not(.active) .navbar-inner {
  display: none;
}
.bs-sidenav li {
  border-bottom: #aaa 1px dashed;
}
.bs-sidenav li:last-child {
  border-bottom: none;
}
li.active > a {
  color: #666;
  font-weight: 900;
  font-variant: small-caps;
}
footer {
  background: #777;
  background: -webkit-linear-gradient(180deg, #777, 40%, #666, 95%);
  background: -moz-linear-gradient(180deg, #777, 40%, #666, 95%);
  background: linear-gradient(180deg, #777 40%, #666 95%);
  -webkit-box-shadow: 0px -5px 15px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -5px 15px rgba(0,0,0,0.3);
  box-shadow: 0px -5px 15px rgba(0,0,0,0.3);
  color: #fff;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
}
footer a {
  color: #343496;
  text-shadow: 0px 0px 5px #999;
  font-weight: 700;
  font-family: BankGothic;
}
footer a:hover {
  color: #fff;
}
footer p {
  font-size: 8px;
}
footer p a {
  font-size: 10px;
}
.blue {
  color: #343496;
}
hr.blue {
  border-color: #343496;
}
hr.dashed {
  border-style: dashed;
}
