extends layout
{% load webdesign %}

block content
  #sidebar.navbar-about.bs-sidebar.affix.col-sm-2.white-shadow.hidden-xs
    ul.nav
      li
        a(href='#ken') Kenneth Wiley
      li
        a(href='#cole') H. Cole Wiley
  #about.col-sm-8.col-sm-offset-3.white-shadow
    h2.text-center ABOUT
    h4 Kenneth Wiley
    #ken.col-sm-10.col-sm-offset-1
      p <strong>Kenneth Wiley</strong> has over thirty years of experience as a petroleum geologist working for major and independent companies and as an independent geologist.  Mr. Wiley has experience managing exploration programs on both a corporate and regional level, but more importantly, <strong>most of his experience has been generating, acquiring and exploiting value creating projects.</strong>  He has geologic and prospect generation experience in a wide variety of basins (Gulf of Mexico, Gulf Coast, Permian, Mid-Continent, Rockies and San Joaquin) and is certified as an expert witness in a number of states.  Though varied, his experience has concentrated on finding additional reserves in and around producing areas.... <strong>exploiting oil and gas reserves.</strong>  In exploiting these reserves he has worked closely, and continues to do so, with geophysicists, reservoir engineers, operations engineers and landmen in team environments.  His experiences as an independent have involved him to some extent in absolutely all phases of oil and gas exploration.  He also has experience acquiring and disposing of properties and in making economic evaluations of and financing oil and gas projects.  He has excellent computer skills and experience with a number of geological, geophysical, reservoir and economic evaluation programs and standard computer software.  Mr. Wiley has served as Managing Member of Destiny Oil & Gas, LLC, Exploitation Manager at Longview Production, briefly as Senior Director at Enron Corporation of North America, Director of Exploration and Production Planning at Range Resources and Acquisitions Geologist for Domain Energy/Tenneco Ventures.  He started his career as a Production Geologist for Arkla Exploration and Texas Oil & Gas in Shreveport, Louisiana.  He is presently working as a geologist generating projects in the Upper Gulf Coast and managing his and his partner’s exploitation projects.  He is also working on a long term consulting project in the Gulf of Mexico.
      strong Wiley has succeeded as an independent by being proactive, focused, exploitation driven and committed to employing technical and operational expertise in the North Louisiana and Central Mississippi Lower Cretaceous and Jurassic geologic trends. 
    .col-sm-10.col-sm-offset-1
      br
      hr.dashed.blue
      br
    .row
    h4 H. Cole Wiley
    #cole.col-sm-10.col-sm-offset-1
      p <strong>H. Cole Wiley</strong> has a background in software development, web design, and 3D design. He has recenlty began working with Kenneth Wiley to help manage day to day operations.

