extends layout

block content
  #todo
    h1
      img(src='#{STATIC_URL}/img/logo.png', title='Kenneth Wiley - Petroleum Geologist')
    br
    .stripe
      .center
        .span4
          h3 Corporate Address
          p P.O.  Box 130245
          p The Woodlands, Texas  77381 
    br
    .content
      p Effective April 1, 2010 Ken Wiley is no longer associated with Destiny Oil &amp; Gas, LLC. For matters pertaining to Destiny Oil &amp; Gas, LLC you may contact either Don Rollins, Jr. or Richard Carson at <a href="http://www.carsonrollins.com">Carson Rollins, LLC</a> 
