extends layout
{% load webdesign %}
block content
  .container
    .stripe.col-sm-10.col-sm-offset-1.white-shadow
      .col-sm-6
        img(src='#{STATIC_URL}img/logo.png', title='Destiny Resources', width='100%')
      .col-md-4.col-md-offset-1.text-center
        .hidden-sm
          br
        hr.blue.dashed
        .hidden-sm.hidden-md
          br
        p Destiny Resources is a small Oil &amp; Natural Gas exploration company focused on the Upper Gulf Coast.
        .hidden-sm.hidden-md
          br
        hr.blue.dashed
  .container
    .col-sm-12
      br
      br
    .white-shadow.col-md-2.col-md-offset-1
      h3.text-center(style='font-variant: small-caps') focus areas
      hr.blue.dashed
      {% for project in projects %}
      a(href='#{project.get_absolute_url()}')
        h6 #{project.name}
        {% if not forloop.last %}
        hr
        {% endif %}
      {% endfor %}
      br
    .white-shadow.col-md-7.col-md-offset-1
      br
      img(src='#{STATIC_URL}img/focus-area.png', title='Destiny Resources', width='100%')
      br
      br
