extends layout

block content
  #todo
    h1
      img(src='#{STATIC_URL}/img/logo.png', title='Kenneth Wiley - Petroleum Geologist')
    br
  .stripe
    .center
      .span4
        h3 Corporate Address
        p P.O.  Box 130245
        p The Woodlands, Texas  77381 
    br
