{% load compressed %}
doctype 5
html(lang="en")
  head
    title=PAGE_TITLE
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    {% compressed_css 'client' %}
    {% compressed_js 'client' %}
    link(rel='icon', type='image/x-icon', href='./images/fav.png')
  body
    header.navbar.navbar-fixed-top
      nav.navbar(role="navigation")
        .link
          a(href='/contact') Contact
        .link.about
          a(href='/about') About
        .logo.link
          a(href='/')
            img(src='#{STATIC_URL}img/header-logo.png')
        .link
          a(href='/areas') Focus Areas
        .link
          a(href='/projects') Current Projects
    #content.container
      .row
        br
      .row
        block content
    footer
      .row
        p Effective April 1, 2010 Ken Wiley is no longer associated with Destiny Oil &amp; Gas, LLC. For matters pertaining to Destiny Oil &amp; Gas, LLC you may contact either Don Rollins, Jr. or Richard Carson at <a href="http://www.carsonrollins.com">Carson Rollins, LLC</a> 
      .row
        hr
      .row
        p site designed by 
          a(target='_blank', href='http://wileycousins.com/') Wiley Cousins
