{% load compressed %}
doctype 5
html(lang="en")
  head
    title=PAGE_TITLE
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    {% compressed_css 'client' %}
    {% compressed_js 'client' %}
    link(rel='icon', type='image/x-icon', href='#{STATIC_URL}img/fav.png')
  body
    header.navbar
      nav.navbar(role="navigation")
        .link
          a(href='/business-plan') Business Plan
        .link.about
          a(href='/about') About
        .logo.link
          a(href='/')
            img(src='#{STATIC_URL}img/logo.png')
        .link
          a(href='/projects') Current Projects
        .link
          a(href='/contact') Contact
    #content.container
      block content
    footer.col-sm-12
      .row
        .col-sm-11.col-sm-offset-1
          .col-sm-2
            a(href='/business-plan') Business Plan
          .col-sm-2
            a(href='/about') About
          .col-sm-2
            a(href='/') Home
          .col-sm-3
            a(href='/projects') Current Projects
          .col-sm-2
            a(href='/contact') Contact
      .row
        hr
        p site designed by 
          a(target='_blank', href='http://wileycousins.com/') Wiley Cousins
